name: update-flake-lock

on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at 00:00

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Determinate Nix
        uses: DeterminateSystems/nix-installer-action@v20
      - name: Update flake.lock
        id: update-flake
        uses: DeterminateSystems/update-flake-lock@v25
        with:
          token: ${{ secrets.PAT }}
          pr-title: "Update flake.lock" # Title of PR to be created
          pr-labels: |                  # Labels to be set on the PR
            dependencies
            automated         automerge: true
      - uses: peter-evans/enable-pull-request-automerge@v3
        if: ${{ steps.update-flake.outputs.pull-request-number != 0 }}
        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.update-flake.outputs.pull-request-number }}
          merge-method: rebase
